In [2]:
#Team 1 Joint Notebook for Project 3

In [3]:
#pip install dash

In [4]:
from dash import Dash, dcc, html, Input, Output, ctx
import pandas as pd
import plotly.express as px
import pymongo
from pymongo import MongoClient

In [35]:
# Connect to MongoDB
#client = MongoClient("mongodb://localhost:27017/")
#db = client["Project3DB"]  # Your database name
#collection1 = db["Biden"]  # Your collection name

# Function to fetch stock data from MongoDB
#def get_stock_data():
    #data = list(collection1.find({}, {"_id": 0}))  # Exclude MongoDB's _id field
    
#df = pd.DataFrame(data)
    
# Ensure date column is formatted properly
#df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")
#return df

In [34]:
df=pd.read_json('Data/Trump.json')
df.head()

,Apple Inc.,NVIDIA Corporation,Microsoft Corporation,"Amazon.com, Inc.",Alphabet Inc.,"Meta Platforms, Inc.","Tesla, Inc.",Broadcom Inc.,Oracle Corporation,"Salesforce, Inc.",Taiwan Semiconductor Manufactur,SAMSUNG ELECTRONICS CO,ASML Holding N.V. - New York Re,Tencent Holding Ltd.,Alibaba Group Holding Limited,SAP SE,Sony Group Corporation,Infosys Limited,"Baidu, Inc."
Market Cap,3494440861696,3252272234496,3058636685312,2466720514048,2268878602240,1823728336896,1056626769920,1101717045248,495593357312,310450782208,1082640433152,301846429696,296071725056,503279452160,267959648256,337790140416,135659683840,91001716736,30692857856
Address,"{'Street': 'One Apple Park Way', 'City': 'Cupe...","{'Street': '2788 San Tomas Expressway', 'City'...","{'Street': 'One Microsoft Way', 'City': 'Redmo...","{'Street': '410 Terry Avenue North', 'City': '...","{'Street': '1600 Amphitheatre Parkway', 'City'...","{'Street': '1 Meta Way', 'City': 'Menlo Park',...","{'Street': '1 Tesla Road', 'City': 'Austin', '...","{'Street': '3421 Hillview Ave', 'City': 'Palo ...","{'Street': '2300 Oracle Way', 'City': 'Austin'...","{'Street': 'Salesforce Tower', 'City': 'San Fr...","{'Street': 'Hsinchu Science Park', 'City': 'Hs...","{'Street': '129 Samsung-Ro', 'City': 'Suwon', ...","{'Street': 'De Run 6501', 'City': 'Veldhoven',...","{'Street': 'Tencent Binhai Towers', 'City': 'S...","{'Street': '969 West Wen Yi Road', 'City': 'Ha...","{'Street': 'Dietmar-Hopp-Allee 16', 'City': 'W...","{'Street': '7-1, Konan 1-chome', 'City': 'Toky...","{'Street': 'Plot No. 44/97 A', 'City': 'Bengal...","{'Street': 'Baidu Campus', 'City': 'Beijing', ..."
2017-01-20_2017-12-31,"[{'Date': '2017-01-20', 'Close': 27.7528324127...","[{'Date': '2017-01-20', 'Close': 2.56216263771...","[{'Date': '2017-01-20', 'Close': 56.8596191406...","[{'Date': '2017-01-20', 'Close': 40.4165000915...","[{'Date': '2017-01-20', 'Close': 40.1068878173...","[{'Date': '2017-01-20', 'Close': 126.556564331...","[{'Date': '2017-01-20', 'Close': 16.3153324127...","[{'Date': '2017-01-20', 'Close': 14.9644432067...","[{'Date': '2017-01-20', 'Close': 35.2033615112...","[{'Date': '2017-01-20', 'Close': 75.6076965332...","[{'Date': '2017-01-20', 'Close': 24.3535919189...","[{'Date': '2017-01-20', 'Close': 9.21700609794...","[{'Date': '2017-01-20', 'Close': 112.693519592...","[{'Date': '2017-01-20', 'Close': 23.3818092346...","[{'Date': '2017-01-20', 'Close': 92.7696151733...","[{'Date': '2017-01-20', 'Close': 78.4858169555...","[{'Date': '2017-01-20', 'Close': 5.28761339187...","[{'Date': '2017-01-20', 'Close': 5.76543998718...","[{'Date': '2017-01-20', 'Close': 173.440002441..."

NameError: name 'df' is not defined