In [2]:
#Team 1 Joint Notebook for Project 3

In [3]:
#pip install dash

In [3]:
#import dependencies 
from dash import Dash, dcc, html, Input, Output, ctx
import pandas as pd
import plotly.express as px
import pymongo
from pymongo import MongoClient
import json
from pprint import pprint
import yfinance as yf
import time

In [4]:
#Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["Project3DB"]  # Database name
collectionBiden = db["Biden"]  # Biden Collection Name
collectionTrump = db["Trump"] # Trump collection Name

In [5]:
#Verify collections
print(db.list_collection_names())

['Biden', 'Trump']

In [6]:
#attempted to query the datbase to create a list for AAPL stock values
AAPLquery = {'Ticker':{'$eq': 'AAPL'}}
fields = {'Stock Data.Date', 'Stock Data.Close'}

sort = [('Date', 1)]

resultsBidenAAPL = list(collectionBiden.find(AAPLquery, fields).sort(sort))
#pprint(resultsBidenAAPL)
BidenAAPLdf = pd.DataFrame(resultsBidenAAPL)
BidenAAPLdf.head()

                        _id                                         Stock Data
0  67acdfba21cb5534fcf06028  [{'Date': '2021-01-20', 'Close': 128.964416503...

In [8]:
#calling on Yahoo finance for top 5 market cap us companies
dataTrumpUS = yf.download("AAPL NVDA MSFT AMZN GOOG", start="2017-01-20",
                    end="2017-12-31", group_by='tickers')

dataTrumpUS

[*********************100%***********************]  5 of 5 completed

Ticker           AMZN                                                  MSFT  \
Price            Open       High        Low      Close    Volume       Open
Date
2017-01-20  40.764000  40.800999  40.313000  40.416500  67524000  56.796188
2017-01-23  40.340000  40.924999  40.254002  40.894001  55950000  56.823376
2017-01-24  41.099998  41.199501  40.724998  41.122002  59434000  57.276513
2017-01-25  41.289501  41.870998  41.264500  41.826000  78452000  57.956227
2017-01-26  41.776501  42.192001  41.650002  41.957500  71726000  58.110292
...               ...        ...        ...        ...       ...        ...
2017-12-22  58.604000  58.730999  58.391499  58.417999  31702000  79.123952
2017-12-26  58.417999  58.916000  58.027500  58.838001  40104000  79.040527
2017-12-27  58.995499  59.364498  58.780499  59.112999  37344000  79.355567
2017-12-28  59.450001  59.505001  59.219002  59.305000  36834000  79.587175
2017-12-29  59.117500  59.200001  58.375000  58.473499  53768000  79.337037

Ticker                                                 ...       GOOG  \
Price            High        Low      Close    Volume  ...       Open
Date                                                   ...
2017-01-20  56.932131  56.524307  56.859631  30213500  ...  40.201051
2017-01-23  57.204009  56.705559  57.059006  23097600  ...  40.217991
2017-01-24  57.765902  57.040880  57.566521  24672900  ...  40.967803
2017-01-25  58.092166  57.503090  57.711533  23672700  ...  41.332489
2017-01-26  58.490925  57.593712  58.246227  43554600  ...  41.740518
...               ...        ...        ...       ...  ...        ...
2017-12-22  79.337045  78.679224  79.225868  14145800  ...  52.865549
2017-12-26  79.244360  78.781106  79.123917   9891200  ...  52.714095
2017-12-27  79.661317  78.957168  79.411156  14678000  ...  52.680216
2017-12-28  79.614969  79.262898  79.420403  10594300  ...  52.391753
2017-12-29  79.726176  79.216593  79.253654  18717400  ...  52.148624

Ticker                                                      AAPL             \
Price            High        Low      Close    Volume       Open       High
Date
2017-01-20  40.201051  39.940984  40.106888  33400000  27.856897  27.856897
2017-01-23  40.896552  40.043120  40.818832  39272000  27.752829  27.940161
2017-01-24  41.147155  40.744651  41.046021  29480000  27.648755  27.775955
2017-01-25  41.638890  41.105304  41.633907  29890000  27.849967  28.238506
2017-01-26  41.749987  41.202451  41.458530  59478000  28.139063  28.317144
...               ...        ...        ...       ...        ...        ...
2017-12-22  53.019495  52.782348  52.816227  15102000  41.048512  41.222408
2017-12-26  52.816228  52.322002  52.647835  15212000  40.136746  40.294191
2017-12-27  52.729041  52.214889  52.280651  25438000  39.972252  40.132045
2017-12-28  52.548686  52.051472  52.219372  16742000  40.183749  40.383494
2017-12-29  52.297093  52.057951  52.132683  17750000  40.070957  40.087405

Ticker
Price             Low      Close     Volume
Date
2017-01-20  27.690382  27.752825  130391600
2017-01-23  27.699636  27.771332   88200800
2017-01-24  27.637191  27.745890   92844000
2017-01-25  27.817588  28.187626  129510400
2017-01-26  28.122874  28.201508  105350400
...               ...        ...        ...
2017-12-22  41.006216  41.126060   65397600
2017-12-26  39.873552  40.082699  132742000
2017-12-27  39.880605  40.089748   85992800
2017-12-28  40.061552  40.202549   65920800
2017-12-29  39.765466  39.767815  103999600

[239 rows x 25 columns]

In [ ]:
#calling on Yahoo finance for top 5 market cap non-US companies
dataTrumpOUS = yf.download("TSM SSNLF ASML TCEHY BABA", start="2017-01-20",
                    end="2017-12-31", group_by='tickers')
dataTrumpOUS

[*********************100%***********************]  5 of 5 completed

Ticker          TCEHY                                                   SSNLF  \
Price            Open       High        Low      Close   Volume          Open
Date
2017-01-20  23.427745  23.519619  23.289935  23.381809   694600  9.217006e+29
2017-01-23  23.409368  23.565553  23.335869  23.519617   559600  9.217006e+29
2017-01-24  23.675804  23.868738  23.611493  23.666616   829000  1.032305e+30
2017-01-25  23.776864  24.043298  23.776864  23.997362   778400  1.032305e+30
2017-01-26  24.282172  24.401607  24.153550  24.355671   882200  1.032305e+30
...               ...        ...        ...        ...      ...           ...
2017-12-22  47.877644  48.135495  47.518490  48.089451  1723300 -8.130177e+28
2017-12-26  48.163117  48.236791  47.886848  47.932892  1291000 -8.130177e+28
2017-12-27  47.361940  47.730302  47.343522  47.454029  1704000  9.644538e+27
2017-12-28  48.236790  48.255208  47.693458  47.794758  1742700  9.644538e+27
2017-12-29  48.071030  48.071030  47.684250  47.813175  1646500  9.644538e+27

Ticker                                                       ...        TSM  \
Price               High           Low         Close Volume  ...       Open
Date                                                         ...
2017-01-20  9.217006e+29  9.217006e+29  9.217006e+29      0  ...  23.989141
2017-01-23  9.217006e+29  9.217006e+29  9.217006e+29      0  ...  24.547971
2017-01-24  1.032305e+30  1.032305e+30  1.032305e+30   4800  ...  24.726143
2017-01-25  1.032305e+30  1.032305e+30  1.032305e+30      0  ...  25.187787
2017-01-26  1.032305e+30  1.032305e+30  1.032305e+30      0  ...  25.317367
...                  ...           ...           ...    ...  ...        ...
2017-12-22 -8.130177e+28 -8.130177e+28 -8.130177e+28      0  ...  33.116896
2017-12-26 -8.130177e+28 -8.130177e+28 -8.130177e+28      0  ...  32.874374
2017-12-27  9.644538e+27  9.644538e+27  9.644538e+27      0  ...  32.615118
2017-12-28  9.644538e+27  9.644538e+27  9.644538e+27      0  ...  33.041637
2017-12-29  9.644538e+27  9.644538e+27  9.644538e+27      0  ...  33.325969

Ticker                                                      BABA              \
Price            High        Low      Close   Volume        Open        High
Date
2017-01-20  24.507475  23.948645  24.353594  7399400   93.146256   93.822283
2017-01-23  24.693752  24.466981  24.564169  6959800   93.175240   95.290220
2017-01-24  25.025804  24.709944  24.961012  7213600   99.616766   99.655397
2017-01-25  25.374063  25.058203  25.357864  8025800   98.950397  100.698396
2017-01-26  25.471248  25.114893  25.195883  8308700  100.360383  100.988120
...               ...        ...        ...      ...         ...         ...
2017-12-22  33.141987  32.866011  33.141987  2523600  169.816882  170.608801
2017-12-26  32.874374  32.456231  32.573311  2861500  168.571067  169.150506
2017-12-27  32.707110  32.514764  32.682022  3092900  166.388481  167.914363
2017-12-28  33.359427  32.949649  33.233986  4279500  167.112791  167.586012
2017-12-29  33.635397  33.158714  33.158714  3870900  166.378826  167.721213

Ticker
Price              Low       Close    Volume
Date
2017-01-20   92.393940   92.769615   9685800
2017-01-23   92.962774   95.039131  14090300
2017-01-24   96.516720   97.955681  37181500
2017-01-25   98.409581  100.495590  23322800
2017-01-26   98.670326   99.230461  12504800
...                ...         ...       ...
2017-12-22  169.044282  170.251465  12524700
2017-12-26  165.847655  166.427109  12913800
2017-12-27  165.847665  167.045197  10152300
2017-12-28  165.789722  166.398148   9508100
2017-12-29  165.335817  166.523682   9704600

[239 rows x 25 columns]

In [ ]:
tickers_data = {}
tickers_list = ["AAPL", "NVDA", "MSFT", "AMZN", "GOOG", "TSM", "SSNLF", "ASML", "TCEHY", "BABA"]
for ticker in tickers_list:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
    temp.reset_index(inplace=True)
    temp.columns = ["Attribute", "Recent"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp

tickers_data

{'AAPL':              Attribute              Recent
 0             address1  One Apple Park Way
 1                 city           Cupertino
 2                state                  CA
 3                  zip               95014
 4              country       United States
 ..                 ...                 ...
 125       grossMargins             0.46206
 126      ebitdaMargins             0.34437
 127   operatingMargins             0.31171
 128  financialCurrency                 USD
 129   trailingPegRatio               2.153

 [130 rows x 2 columns],
 'NVDA':              Attribute                     Recent
 0             address1  2788 San Tomas Expressway
 1                 city                Santa Clara
 2                state                         CA
 3                  zip                      95051
 4              country              United States
 ..                 ...                        ...
 125       grossMargins                    0.75976
 126      ebitdaMargins                     0.6353
 127   operatingMargins                    0.62057
 128  financialCurrency                        USD
 129   trailingPegRatio                     0.9518

 [130 rows x 2 columns],
 'MSFT':              Attribute             Recent
 0             address1  One Microsoft Way
 1                 city            Redmond
 2                state                 WA
 3                  zip         98052-6399
 4              country      United States
 ..                 ...                ...
 125       grossMargins            0.69349
 126      ebitdaMargins             0.5372
 127   operatingMargins            0.46584
 128  financialCurrency                USD
 129   trailingPegRatio              2.143

 [130 rows x 2 columns],
 'AMZN':              Attribute                  Recent
 0             address1  410 Terry Avenue North
 1                 city                 Seattle
 2                state                      WA
 3                  zip              98109-5210
 4              country           United States
 ..                 ...                     ...
 118       grossMargins                 0.48406
 119      ebitdaMargins                 0.17994
 120   operatingMargins                 0.10959
 121  financialCurrency                     USD
 122   trailingPegRatio                  1.8452

 [123 rows x 2 columns],
 'GOOG':              Attribute                     Recent
 0             address1  1600 Amphitheatre Parkway
 1                 city              Mountain View
 2                state                         CA
 3                  zip                      94043
 4              country              United States
 ..                 ...                        ...
 116       grossMargins                    0.58127
 117      ebitdaMargins                     0.3633
 118   operatingMargins                    0.32312
 119  financialCurrency                        USD
 120   trailingPegRatio                     1.3487

 [121 rows x 2 columns],
 'TSM':              Attribute                 Recent
 0             address1   Hsinchu Science Park
 1             address2  No. 8, Li-Hsin Road 6
 2                 city           Hsinchu City
 3                  zip                 300096
 4              country                 Taiwan
 ..                 ...                    ...
 118       grossMargins                0.54453
 119      ebitdaMargins                 0.6779
 120   operatingMargins                0.47488
 121  financialCurrency                    TWD
 122   trailingPegRatio                 1.4235

 [123 rows x 2 columns],
 'SSNLF':                 Attribute                     Recent
 0                address1             129 Samsung-Ro
 1                address2  Maetan-3dong Yeongtong-gu
 2                    city                      Suwon
 3                     zip                    443-742
 4                 country                South Korea
 ..                    ...                        ...
 73  gmtOffSetMilliseconds                  -18000000
 74           currentPrice                    40.5999
 75      recommendationKey                       none
 76      financialCurrency                        KRW
 77       trailingPegRatio                       None

 [78 rows x 2 columns],
 'ASML':              Attribute           Recent
 0             address1      De Run 6501
 1                 city        Veldhoven
 2                  zip          5504 DR
 3              country      Netherlands
 4                phone  31 48 0235 0934
 ..                 ...              ...
 118       grossMargins          0.51147
 119      ebitdaMargins           0.3379
 120   operatingMargins          0.32692
 121  financialCurrency              EUR
 122   trailingPegRatio           1.5784

 [123 rows x 2 columns],
 'TCEHY':                   Attribute                                    Recent
 0                  address1                     Tencent Binhai Towers
 1                  address2  No. 33 Haitian 2nd Road Nanshan District
 2                      city                                  Shenzhen
 3                       zip                                    518054
 4                   country                                     China
 ..                      ...                                       ...
 82        recommendationKey                                      none
 83  numberOfAnalystOpinions                                         2
 84          revenuePerShare                                    64.412
 85        financialCurrency                                       CNY
 86         trailingPegRatio                                    0.6435

 [87 rows x 2 columns],
 'BABA':              Attribute                Recent
 0             address1  969 West Wen Yi Road
 1             address2      Yu Hang District
 2                 city              Hangzhou
 3                  zip                311121
 4              country                 China
 ..                 ...                   ...
 116       grossMargins               0.37902
 117      ebitdaMargins               0.18584
 118   operatingMargins               0.16089
 119  financialCurrency                   CNY
 120   trailingPegRatio                0.7444

 [121 rows x 2 columns]}

In [ ]:
combined_data = pd.concat(tickers_data)
combined_data = combined_data.reset_index()
combined_data

     level_0  level_1          Attribute              Recent
0       AAPL        0           address1  One Apple Park Way
1       AAPL        1               city           Cupertino
2       AAPL        2              state                  CA
3       AAPL        3                zip               95014
4       AAPL        4            country       United States
...      ...      ...                ...                 ...
1161    BABA      116       grossMargins             0.37902
1162    BABA      117      ebitdaMargins             0.18584
1163    BABA      118   operatingMargins             0.16089
1164    BABA      119  financialCurrency                 CNY
1165    BABA      120   trailingPegRatio              0.7444

[1166 rows x 4 columns]

In [13]:
import json
import pandas as pd
import matplotlib.pyplot as plt


trump_file_path = "Data/Trump.json"
biden_file_path = "Data/Biden.json"

with open(trump_file_path, "r") as f:
    trump_data = json.load(f)

with open(biden_file_path, "r") as f:
    biden_data = json.load(f)

trump_companies = list(trump_data[0].keys())[:20]
biden_companies = list(biden_data[0].keys())[:20]


def extract_stock_data(data, companies):
    stock_dict = {}
    for company in companies:
        stock_data = data[0][company]["Stock Data"]
        dates = [entry["Date"] for entry in stock_data]
        prices = [entry["Close"] for entry in stock_data]
        stock_dict[company] = pd.Series(prices, index=pd.to_datetime(dates))
    
    return pd.DataFrame(stock_dict)


trump_df = extract_stock_data(trump_data, trump_companies)
biden_df = extract_stock_data(biden_data, biden_companies)

In [14]:
trump_df

,AAPL,NVDA,MSFT,AMZN,GOOG,META,TSLA,AVGO,ORCL,CRM,TSM,SSNLF,ASML,TCEHY,BABA,SAP,SONY,INFY,BIDU
2017-01-20,27.752829,2.562162,56.859623,40.416500,40.106892,126.556564,16.315332,14.964442,35.203362,75.607697,24.353594,9.217007e+29,112.693504,23.381807,92.769615,78.485817,5.187129,5.765440,173.440002
2017-01-23,27.771336,2.588767,57.059002,40.894001,40.818832,128.439377,16.594667,14.958176,35.035606,75.736984,24.564167,9.217007e+29,112.804283,23.519619,95.039131,78.398033,5.175224,5.657038,175.970001
2017-01-24,27.745893,2.643946,57.566528,41.122002,41.046021,128.877686,16.974001,15.486806,35.406441,76.681702,24.961018,1.032305e+30,113.155167,23.666618,97.955681,78.687744,5.185429,5.669082,176.050003
2017-01-25,28.187622,2.655277,57.711529,41.826000,41.633907,130.979660,16.964666,15.857235,35.450588,78.034142,25.357862,1.032305e+30,113.367531,23.997360,100.495590,80.083626,5.236450,5.620903,176.610001
2017-01-26,28.201508,2.701097,58.246227,41.957500,41.458534,132.274719,16.834000,15.989583,35.432930,77.517036,25.195887,1.032305e+30,111.844017,24.355667,99.230461,79.732468,5.292573,5.536589,174.949997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-22,41.126072,4.828984,79.225853,58.417999,52.816231,176.525681,21.680000,20.949722,42.321541,102.059952,33.141991,-8.130178e+28,163.393707,48.089451,170.251465,100.124916,7.910932,6.651383,239.050003
2017-12-26,40.082703,4.882646,79.123940,58.838001,52.647835,175.320282,21.152666,20.610340,42.384083,101.970451,32.573307,-8.130178e+28,161.407471,47.932892,166.427109,99.929253,7.829537,6.696827,237.830002
2017-12-27,40.089752,4.875969,79.411163,59.112999,52.280651,176.944077,20.775999,20.691792,42.339405,102.079842,32.682045,9.644539e+27,162.293335,47.454021,167.045197,100.587379,7.838196,6.684434,237.710007
2017-12-28,40.202553,4.881659,79.420418,59.305000,52.219376,177.242935,21.024000,20.795603,42.464516,102.219063,33.233978,9.644539e+27,162.442551,47.794762,166.398148,99.964844,7.843392,6.676172,234.740005
2017-12-29,39.767807,4.785211,79.253632,58.473499,52.132683,175.788513,20.756666,20.514519,42.250053,101.662178,33.158714,9.644539e+27,162.088226,47.813175,166.523682,99.929253,7.784510,6.700959,234.210007

In [16]:
trumpChange = trump_df.iloc[-1] - trump_df.iloc[0]
trumpChange

AAPL     1.201498e+01
NVDA     2.223049e+00
MSFT     2.239401e+01
AMZN     1.805700e+01
GOOG     1.202579e+01
META     4.923195e+01
TSLA     4.441334e+00
AVGO     5.550076e+00
ORCL     7.046692e+00
CRM      2.605448e+01
TSM      8.805120e+00
SSNLF   -9.120561e+29
ASML     4.939472e+01
TCEHY    2.443137e+01
BABA     7.375407e+01
SAP      2.144344e+01
SONY     2.597381e+00
INFY     9.355187e-01
BIDU     6.077000e+01
dtype: float64

In [18]:
bidenChange = biden_df.iloc[-1] - biden_df.iloc[0]
bidenChange

AAPL     4.617102e+01
NVDA     1.620496e+01
MSFT     1.138911e+02
AMZN     5.475494e+00
GOOG     5.147256e+01
META     7.658740e+01
TSLA     7.329666e+01
AVGO     2.023792e+01
ORCL     2.590841e+01
CRM      3.171288e+01
TSM     -7.735382e+00
SSNLF   -2.219949e+15
ASML     2.461951e+02
TCEHY   -2.664162e+01
BABA    -1.376189e+02
SAP      1.399747e+01
SONY     4.654470e+00
SOBKY   -6.220007e-01
INFY     6.793844e+00
BIDU    -1.102900e+02
dtype: float64